.skills__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    color: var(--active_fonts);
}

.skills__container {
    width: 100%;
}

.skills__container:first-child {
    margin-bottom: 2.5rem;
}

.skills__container_title {
    margin-bottom: 1.5rem;
}

.skills__container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    text-align: center;
    padding: 0;
    justify-items: center;
    font-weight: 500;
    row-gap: 2rem;
}

.skills__container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9.6px;
}

.skills__container picture {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: .6rem;
}

@media (min-width: 1024px) {
    .skills__container:first-child {
        margin-bottom: 4rem;
    }

    .skills__container_title {
        margin-bottom: 2rem;
    }

    .skills__container picture {
        width: 48px;
        height: 48px;
    }
}