:root {
    --blue_background: rgba(11, 8, 82, 1);
    --blue_background_soft: rgba(16, 12, 99, 1);
    --red_actions: rgba(214, 40, 40, 1);
    --active_fonts: rgba(255, 255, 255, 1);
    --inactive_elements: rgba(165, 165, 165, 1);
}
html {
    box-sizing: border-box;
}
*, *::before, *::after, h1, h2, h3, h4, h5, h6, a, p {
    box-sizing: inherit;
    margin: 0
}